<div data-role="view" id="categories-view" data-id="categories-view"
     data-layout="main-layout" data-title="Categories"
     data-show="app.categories.init" >
    <div id="categories-holder">
        <div id="categories-list" data-role="listview"
                data-bind="source: categories"
            data-template="categories-template">
        </div>
    </div>       
</div>

<script id="categories-template" type="text/x-kendo-template">
    #if(Name.length < 30){#
        <a data-bind="events: { click: getCategory}" href="views/content-view.html\#content-view" style="display: block; margin: 2em; text-align: center;" id="#:Name#" data-role="button">#:Name#</a>   
    #}else{#
        <p>#:Name#</p>
    #}#
</script>