  <div data-role="view" data-init="app.categories.init" data-show="app.categories.quote" id="content-view" data-id="content-view"
      data-layout="main-layout" data-title="Content">
        <!--<div data-role="modalview" id="content-view" data-modal="false" style="width: 95%; height: 18em;">-->
            <div data-role="header">
                <div data-role="navbar">
                    <a data-role="button" data-icon="reply" href="views/categories-view.html#categories-view" data-align="left">Back</a>
                    <a data-role="button" data-icon="globe" data-click="postFb" data-align="right">Share in FB</a>
                </div>
            </div>
            <div id="content-quote" data-role="listview" data-bind="source: quote" 
                data-template="content-template">                
            </div>
        </div>
    <!--</div>-->

<script id="content-template" type="text/x-kendo-template">
    <div>
        <h2>Quote of the day in category "#:category#"</h2>
        <p id="quote">#:quote#</p>
        <p id="author">Author: #:author #</p>
        
    </div>
</script>

<script>    
    function postFb(e) {
        var quote = $("#quote").html() + "\r\n";
        var author = $("#author").html();
        var post = quote + author;
        //debugger;
        app.facebook.makefbPost(post);
        //console.log('op')
    };
</script>